:root {
  --input-border-width: 1px;
  --input-border-radius: 3px;
  --input-padding: calc(var(--baseline) / 3) calc(var(--baseline) / 2);
  --input-height: calc(
    (2 * var(--input-border-width)) +
    (2 * var(--input-padding)) +
    var(--baseline)
  );
  --suggestion-approximate-height: calc(
    var(--input-height) - (2 * var(--input-border-width))
  )
}

/* Space holder is here to help achieve shadow for both input and dropdown
   while keeping the dropdown absolutely positioned above content.
   https://github.com/nikdo/wind-alert/issues/4#issuecomment-469870444
 */
.spaceHolder {
  margin-top: 30vh;
  height: var(--input-height);
}

.container {
  width: 100%;
  max-width: 20rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  border: var(--input-border-width) solid var(--color-mountain-mist);
  border-radius: var(--input-border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color-romance);
}

.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.inputContainer svg {
  position: absolute;
  right: calc(var(--baseline) / 3);
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: var(--input-padding);
}

.input::placeholder {
  position: relative;
  left: 1px;
}

.suggestionsContainer {
  max-height: calc(5.5 * var(--suggestion-approximate-height));
  overflow: scroll;
}

.suggestionsContainerOpen {
  border-top: var(--input-border-width) solid var(--color-line);
}

ul.suggestionsList {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.suggestion {
  padding: var(--input-padding);
  cursor: default;
}

li.suggestionHighlighted {
  background-color: var(--color-mercury);
}

li:last-child.suggestionHighlighted {
  border-bottom-left-radius: calc(var(--input-border-radius) - var(--input-border-width));
  border-bottom-right-radius: calc(var(--input-border-radius) - var(--input-border-width));
}
