.header {
  height: 100vh;
  max-width: none;
  box-sizing: border-box;
  padding-bottom: calc(2 * var(--baseline));
  background: var(--gradient-background);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header h1 {
  color: var(--color-text-inverted);
  text-align: center;
  font-size: var(--logo-font-size);
  letter-spacing: -1.6px;
  margin-top: 20vh;
  line-height: calc(3 * var(--baseline));
  cursor: default;
  white-space: nowrap;
}

.header h1 > * {
  vertical-align: middle;
}

.header h1 svg {
  width: 40px;
  height: 40px;
  fill: var(--color-text-inverted);
}

.header .search {
  margin: calc(2 * var(--baseline)) auto 0;
}

.header .attribution {
  text-align: center;
}

@media (width > 700px) {
  .header h1 {
    font-size: var(--logo-desktop-font-size);
    margin-top: calc(4 * var(--baseline));
  }

  .header h1 svg {
    width: 49px;
    height: 49px;
  }
}

@media (orientation: portrait) {
  .header {
    background: var(--gradient-background-vertical);
  }
}
