.container {
  margin: 30vh auto auto;
  max-width: 20rem;
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--color-mountain-mist);
  border-radius: 3px;
  outline: none;
  padding: calc(var(--baseline) / 3) calc(var(--baseline) / 2);
}
