a.attribution {
  display: inline-block;
}

a.attribution img {
  height: 45px;
  transition: all var(--transition-duration) ease-in;
}


a.attribution:hover img,
a.attribution:focus img {
  transform: scale(1.1);
}
