.attribution {
  margin-top: var(--baseline);
}

.attribution img {
  height: 45px;
  transition: all var(--transition-duration) ease-in;
}

.attribution a {
  display: inline-block;
}

.attribution a:hover img,
.attribution a:focus img {
  transform: scale(1.1);
}
