svg path.wind {
  stroke: #343838;
  stroke-width: 2;
  fill: none;
}

svg path.wind-fill {
  stroke: none;
  fill: #008c9e;
}

svg .axis {
  color: #909090;
  font-size: 12px;
}

svg .axis path.domain,
svg .axis .tick line {
  color: #e6e6e6;
}

svg .grid path.domain {
  display: none;
}

svg .grid .tick line {
  color: #e6e6e6;
}

svg .hover-target {
  fill: none;
  pointer-events: all;
}

svg .hover-guide line {
  stroke: #343838;
  stroke-width: 1px;
}

svg .hover-guide circle {
  fill: #fcfcfa;
  stroke: #343838;
  stroke-width: 2px;
}

svg .hover-guide .time text {
  font-size: 12px;
}

svg .hover-guide .time path {
  stroke: #343838;
  stroke-width: 1px;
}
