svg path.wind {
  stroke-width: 2;
  fill: none;
}

svg path.wind.level-2 { stroke: #909090; }
svg path.wind.level-3,
svg path.wind.level-4,
svg path.wind.level-5,
svg path.wind.level-6,
svg path.wind.level-7,
svg path.wind.level-8,
svg path.wind.level-9,
svg path.wind.level-10,
svg path.wind.level-11,
svg path.wind.level-12 { stroke: #343838; }

svg path.wind-fill {
  stroke: none;
}

svg .wind-fill.level-2 { fill: hsl(60, 0%, 95%); }
svg .wind-fill.level-3 { fill: hsl(230, 29%, 79%); }
svg .wind-fill.level-4 { fill: hsl(78, 100%, 38%); }
svg .wind-fill.level-5 { fill: hsl(43, 95%, 57%); }
svg .wind-fill.level-6 { fill: hsl(32, 100%, 50%); }
svg .wind-fill.level-7 { fill: hsl(346, 100%, 50%); }
svg .wind-fill.level-8,
svg .wind-fill.level-9,
svg .wind-fill.level-10,
svg .wind-fill.level-11,
svg .wind-fill.level-12 { fill: hsl(336, 38%, 25%); }

svg .week-days {
  color: #909090;
}

svg .week-days .domain {
  display: none;
}

svg .axis {
  color: #909090;
  font-size: 12px;
}

svg .axis path.domain,
svg .axis .tick line {
  color: #e6e6e6;
}

svg .grid path.domain {
  display: none;
}

svg .grid .tick line {
  color: #e6e6e6;
}

svg .hover-target {
  fill: none;
  pointer-events: all;
}

svg .hover-guide line {
  stroke: #343838;
  stroke-width: 1px;
}

svg .hover-guide .value circle {
  fill: #fcfcfa;
  stroke: #343838;
  stroke-width: 2px;
}

svg .hover-guide .value text {
  stroke: #fcfcfa;
  stroke-width: 5px;
}

svg .hover-guide .value text tspan {
  fill: #909090;
  font-size: 12px;
}

svg .hover-guide .value .wind-direction {
  fill: none;
  stroke: #343838;
  stroke-width: 2px;
}

svg .hover-guide .time text {
  font-size: 12px;
}

svg .hover-guide .time path {
  stroke: #343838;
  stroke-width: 1px;
}
