.header {
  background: var(--gradient-background);
}

.header.full {
  height: 100vh;
  max-width: none;
  box-sizing: border-box;
  padding-bottom: calc(2 * var(--baseline));
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(2.5 * var(--baseline));
  box-shadow: var(--fat-shadow);
}

.header.full .logo {
  margin-top: 20vh;
}

.header.full .search {
  margin: calc(2 * var(--baseline)) auto 0;
}

.header.full .attribution {
  text-align: center;
}

@media (width > 700px) {
  .header.full .logo {
    margin-top: calc(4 * var(--baseline));
  }

  .header.top {
    height: calc(3 * var(--baseline));
  }
}

@media (orientation: portrait) {
  .header.full {
    background: var(--gradient-background-vertical);
  }
}
