.logo {
  color: var(--color-text-inverted);
  cursor: default;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo.fat {
  height: calc(3 * var(--baseline));
}

.logo > * {
  vertical-align: middle;
}

.logo svg {
  width: 32px;
  height: 32px;
  fill: var(--color-text-inverted);
}

.logo.fat svg {
  width: 40px;
  height: 40px;
}

.logo .name {
  display: none;
}

.logo.fat .name {
  display: inline;
  font-family: var(--font-family-title);
  font-size: var(--logo-fat-font-size);
  font-weight: var(--h1-font-weight);
  letter-spacing: -1.6px;
}

@media (width > 700px) {
  .logo svg {
    width: 38px;
    height: 38px;
  }

  .logo.fat svg {
    width: 49px;
    height: 49px;
  }

  .logo .name {
    font-size: var(--logo-fat-desktop-font-size);
  }
}
