ul.links {
  list-style: none;
  margin: calc(var(--baseline) / 2) 0 0;
  padding: 0;
}

ul.links li {
  display: inline-block;
}

ul.links li:not(:first-child) {
  margin-left: calc(var(--baseline) / 3 * 2);
}
