ul.links {
  list-style: none;
  margin: calc(var(--baseline) / 2) 0 0;
  padding: 0;
}

ul.links li {
  display: inline-block;
}

ul.links li:not(:first-child) {
  margin-left: calc(var(--baseline) / 3 * 2);
}

ul.links li svg {
  opacity: var(--opacity-secondary-icon);
  transition: all var(--transition-duration) ease-in;
}

ul.links li a:hover svg {
  opacity: 1;
  transform: scale(1.2);
}
