.select {
  width: 20rem;
}

.select :global .select__control {
  background-color: transparent !important;
}

.select :global .select__indicator-separator {
  display: none;
}

.select:global.select--is-disabled .select__dropdown-indicator {
  visibility: hidden;
}

.loading {
  --loader-width: -25px;
  --dropdown-indicator-alignment: -7px;
  margin-left: var(--loader-width);
  position: relative;
  left: var(--dropdown-indicator-alignment);
}
