.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.control {
  position: absolute;
  right: calc(var(--input-border-radius) / 2);
  width: var(--input-height);
  height: var(--input-height);
  display: grid;
}

.fat .control {
  width: var(--input-fat-height);
  height: var(--input-fat-height);
}

.control > span {
  width: 100%;
  height: 100%;
  display: grid;
  /* both icons present at the same time during animation */
  position: absolute;
}

.control span.cancel {
  cursor: pointer;
}

.control svg {
  margin: auto;
  width: 20px;
  height: 20px;
  fill: var(--color-border);
}

.fat .control svg {
  width: 24px;
  height: 24px;
}

span.cancel svg {
  transition: fill var(--transition-duration) ease-out;
}

span.cancel:hover svg {
  fill: var(--color-highlight);
}
