.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.control {
  position: absolute;
  right: calc(var(--input-border-radius) / 2);
  width: var(--input-height);
  height: var(--input-height);
  display: grid;
}

.fat .control {
  width: var(--input-fat-height);
  height: var(--input-fat-height);
}

.control > a {
  width: 100%;
  height: 100%;
  display: grid;
  /* both icons present at the same time during animation */
  position: absolute;
}

.control svg {
  margin: auto;
}

a.search {
  cursor: default;
}

a.search svg {
  width: 18px;
  height: 18px;
  fill: var(--color-border);
}

a.cancel svg {
  width: 12px;
  height: 12px;
  fill: var(--color-border);
  transition: fill var(--transition-duration) ease-out;
}

a.cancel:hover svg {
  fill: var(--color-highlight);
}

.fat a.search svg {
  width: 22px;
  height: 22px;
}

.fat a.cancel svg {
  width: 15px;
  height: 15px;
}
