.wrapper {
  position: relative;
}

.wrapper::after {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: calc(-3 * var(--baseline));
  left: 0;
  right: 0;
  background: repeating-linear-gradient(
    rgba(255, 0, 0, 0.5),
    rgba(255, 0, 0, 0.5) 1px,
    transparent 1px,
    transparent var(--baseline)
  );
}
