@import 'brand.css';

body {
  margin: 0;
  padding: var(--baseline);
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  color: var(--color-text);
  background-color: var(--color-background);
}

@media (width > 700px) {
  body {
    padding: calc(2 * var(--baseline)) calc(3 * var(--baseline));
  }
}

p {
  margin: var(--baseline) 0 0 0;
}
